<% layout('/layout/boilerplate.ejs') -%>

    <body>
        <div class="formContainer">
            <form method="POST" action="/listing/new" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Enter catchy title</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Please Enter Title"
                        name="title" required>

                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Enter description</label>
                    <input placeholder="Please Enter Decription" name="description" class="form-control"
                        id="formGroupExampleInput" required>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload File</label>
                    <input type="file" name="image" class="form-control" id="formGroupExampleInput">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Enter price</label>
                    <input type="number" placeholder="Please Enter Price" name="price" class="form-control"
                        id="formGroupExampleInput" required>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Address" name="location"
                            aria-label="First name">
                    </div>
                    <div class="col">
                        <input type="text" name="country" class="form-control" placeholder="Country"
                            aria-label="Last name">
                    </div>
                </div>
                <h5 mb-3>Enter Contact Details: </h5>

                <div class="row mb-5">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Phone-Number" name="phoneNumber"
                            aria-label="First name">
                    </div>
                    <div class="col">
                        <input type="text" name="Email" class="form-control" placeholder="Email"
                            aria-label="Last name">
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>

            </form>
        </div>
        <br><br>
    </body>