<%layout("/layout/boilerplate.ejs")-%>

<body style="min-height:100vh">
    <form method="post" action="/signup">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Enter password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <button class="btn btn-primary mb-5">Submit</button>
    </form>
</body>
